<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <base href="/">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="version" content="<%= buildVersion %>-<%= buildSha %>">
  </head>
  <body>
    <noscript>
      Please enable JavaScript to view this site.
    </noscript>
    <div id="root"></div>
  </body>
</html>
